${base_head}
    <center><b>${board}</b></center>
    <center>${base_pagelist}</center>
${base_postform}
${base_help}
${threads}
    <hr style="clear: both;">
    </form>
    ${base_pagelist}
    <hr />
${base_footer}
