${base_head}
    <center><b>${board} :: archive</b></center>
    <center>${base_pagelist}</div></center>
${base_postform}
${base_help}
    <hr />
${threads}
    </form>
    ${base_pagelist}
    <hr />
${base_footer}
