            <tr><td>%%sent%%</td><td>%%board%%</td><td><a href="thread-%%parent%%.html#%%articlehash%%">%%author%%</a></td><td class="subject"><a href="thread-%%parent%%.html">%%subject%%</a></td></tr>
