          <table cellspacing="0" class="datatable" style="border-collapse: inherit;">
            <tr><th>date</th><th>board</th><!--<th>sender</th>--><th class="subject" width="100%">thread</th></tr>
%%latest_posts_rows%%
          </table>
