            <tr><td>%%sent%%</td><td>%%board%%</td><!--<td><a href="thread-%%parent%%.html#%%articlehash%%">%%author%%</a></td>--><td class="subject"><a href="thread-%%parent%%.html#%%articlehash%%">%%subject%%</a></td></tr>
