      <div class="message">
        <a href="img/%%imagelink%%" class="image_link"><img src="thumbs/%%thumblink%%" class="image" /></a>
        <span class="filedescription">File: %%imagename%%</span><br />
        <a name="%%articlehash%%"></a><span class="topicline"><b>%%subject%%</b> %%author%% %%sent%% UTC postNr: %%articlehash%%</span>
        %%signed%%          <div class="stillevil">
          <input type="checkbox" value="%%articlehash_full%%" title="purge" class="purge_msg" name="purge" id="purge%%articlehash%%">
          <label for="purge%%articlehash%%">delete post</label>
          <input type="checkbox" value="%%articlehash_full%%" title="delete attachment" name="delete_a" id="del_a%%articlehash%%">
          <label for="del_a%%articlehash%%">delete attachment</label>
        </div>
        <br /><br />
        <span class="message_span">%%message%%</span>
        <br style="clear: both;"/>
      </div>
