      <div class="message">
        <!-- <span class="filedescription">File: %%imagename%% (142.52 KB, 1523x521)</span><br /> -->
        <a href="img/%%imagelink%%" class="image_link"><img src="thumbs/%%thumblink%%" class="image" /></a>
        <a name="%%articlehash%%"></a><span class="topicline"><b>%%subject%%</b> %%author%% %%sent%% UTC postNr: %%articlehash%%</span>
        <br /><br />
        <span class="message_span">%%message%%</span>
        <br style="clear: both;"/>
      </div>
