      <div class="message">
        <a href="img/%%imagelink%%" class="image_link"><img src="thumbs/%%thumblink%%" class="image" /></a>
        <a name="%%articlehash%%"></a><span class="topicline"><b>%%subject%%</b> %%author%% %%sent%% UTC postNr: %%articlehash%%</span><br />
        <span class="filedescription">File: %%imagename%%</span>
        <br /><br />
        <span class="message_span">%%message%%</span>
        <br style="clear: both;"/>
      </div>
