      <div class="messageroot" id="${articlehash}">
        <a href="img/${imagelink}" class="image_link" target="_blank" title="${imagename}"><img src="thumbs/${thumblink}" class="image_root" /></a>
        <a name="${articlehash}"></a><span class="topicline"><b>${subject}</b> ${author} <span class=published>${sent} UTC</span>  <a href="thread-${articlehash}.html" onmouseover="get_quote();" onclick="return quickreply('${articlehash}', '${articlehash_full}');">№  ${articlehash}</a> <a href="thread-${articlehash}.html">[Reply]</a></span>
        ${signed}          <div class="stillevil">
          <input type="checkbox" value="${articlehash_full}" title="delete post" class="purge_root" name="purge_root" id="purge${articlehash}">
          <label for="purge${articlehash}">delete post</label>
          <input type="checkbox" value="${articlehash_full}" title="delete attachment" name="delete_a" id="del_a${articlehash}">
          <label for="del_a${articlehash}">delete attachment</label>
          <input type="checkbox" value="${articlehash_full}" title="Delete all i2p-user's posts" class="purge_root" name="purge_desthash" id="purge_desthash${articlehash}">
          <label for="purge_desthash${articlehash}">Delete all i2p-user's posts</label>
          <!--<input type="checkbox" value="${articlehash_full}" title="sticky" name="sticky" id="sticky${articlehash}">
          <label for="sticky${articlehash}">sticky thread</label>-->
          <!--<span class="warning">warning: this will delete the whole thread</span>-->
        </div><br />
        <span class="frontend">[ ${frontend} ]</span>
        <br /><br />
        <span class="message_span">${message}
        </span>
        <br style="clear: both;"/>
      </div>
