      <div class="message">
        <a name="%%articlehash%%"></a><span class="topicline"><b>%%subject%%</b> %%author%% %%sent%% UTC postNr: %%articlehash%%</span>
        %%signed%%          <div class="stillevil">
          <input type="checkbox" value="%%articlehash_full%%" title="purge" class="purge_msg" name="purge" id="purge%%articlehash%%">
          <label for="purge%%articlehash%%">delete post</label>
        </div>
        <br /><br />
        <span class="message_span">%%message%%</span>
        <br style="clear: both;"/>
      </div>
