      <div class="message" id="${articlehash}">
        <span class="frontend">Frontend: ${frontend}</span><br />
        <a name="${articlehash}"></a><span class="topicline"><b>${subject}</b> ${author} ${sent} UTC  <a href="thread-${parenthash}.html#${articlehash}" onclick="return highlight('${articlehash}');">No.</a> <a href="#i${articlehash}" onmouseover="get_quote();" onclick="return quickreply('${articlehash}', '${parenthash_full}');">${articlehash}</a></span>
        ${signed}          <div class="stillevil">
          <input type="checkbox" value="${articlehash_full}" title="purge" class="purge_msg" name="purge" id="purge${articlehash}">
          <label for="purge${articlehash}">delete post</label>
        </div>
        <br /><br />
        <span class="message_span">${message}</span>
        <br style="clear: both;"/>
      </div>
