      <div class="messageroot">
        <a href="img/${imagelink}" class="image_link"><img src="thumbs/${thumblink}" class="image_root" /></a>
        <span class="filedescription">File: ${imagename}</span><br />
        <span class="frontend">${frontend}</span>
        <a name="${articlehash}"></a><span class="topicline"><b>${subject}</b> ${author} ${sent} UTC  No. <a href="thread-${articlehash}.html">${articlehash}</a></span>
        ${signed}          <div class="stillevil">
          <input type="checkbox" value="${articlehash_full}" title="delete post" class="purge_root" name="purge_root" id="purge${articlehash}">
          <label for="purge${articlehash}">delete post</label>
          <input type="checkbox" value="${articlehash_full}" title="delete attachment" name="delete_a" id="del_a${articlehash}">
          <label for="del_a${articlehash}">delete attachment</label>
          <!--<input type="checkbox" value="${articlehash_full}" title="sticky" name="sticky" id="sticky${articlehash}">
          <label for="sticky${articlehash}">sticky thread</label>-->
          <!--<span class="warning">warning: this will delete the whole thread</span>-->
        </div>
        <br /><br />
        <span class="message_span">${message}</span>
        <br style="clear: both;"/>
      </div>
