<label for="sign${articlehash}" class="sig_label" title="signed message, click to show full public key">${pubkey_short}</label><input type="checkbox" id="sign${articlehash}" class="sig_chk"><span class="sig_key">${pubkey}</span>
