<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
   
<html>
  <head>
    <title>${title} :: ${board} :: ${subject}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="overchan.js"></script>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="user.css" type="text/css">
  </head>
  <body>
    <div class="boards">[${boardlist}]</div>
    <hr />
    <div class="sitetitle">
      <h2><a href="overview.html">${title}</a></h2>
      <b>decentralized and distributed</b>
    </div>
    <center><b>${board} :: ${subject}</b></center>
    <div class="postform" align="center">
      <form method="POST" action="/incoming" enctype="multipart/form-data">
        <input type="hidden" name="frontend" value="overchan" />
        <input type="hidden" name="board" value="${full_board}" />
        <input type="hidden" name="reply" value="${thread_id}" />
        <input type="hidden" name="target" value="${target}" />
        <table cellspacing="1" cellpadding="0">
          <tr>
            <th>Name</th>
            <td><input type="text" name="name" class="posttext" /></td>
          </tr>
          <tr>
            <th>Subject</th>
            <td><input type="text" name="subject" class="posttext" /></td>
          </tr>
          <tr>
            <th>Comment</th>
            <td><textarea name="comment" class="postarea"></textarea></td>
          </tr>
          <tr>
            <th>File</th>
            <td>
              <table cellspacing="0" cellpadding="0" width="100%">
                <tr>
                  <td><input type="file" name="file" class="postfile" /></td>
                  <td align="right"><input type="submit" value="reply" class="postbutton" /></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <input type="checkbox" id="chkhelp" class="chkhelp" title="evil mod">
    <label for="chkhelp" class="lblhelp">?</label>
    <input type="checkbox" class="evilmod" title="evil mod" />
    <form method="POST" action="/moderate?evil" enctype="multipart/form-data">
      <div class="overlay">
        <br />
        <span class="overlaytext">What the fuck is this?</span>
        <label for="chkhelp" class="lblhelp">x</label>
        <br /><br /><br />
        <div class="overlay_inner">
          <span class="message_span">${help}</span>
        </div>
      </div>
      <div class="evilstuff">&nbsp;<!--[<a href="/moderate?getkey" target="_blank">?</a>]-->
        <label>secret</label>
        <input type="hidden" name="target" value="${target}" />
        <input type="text" title="secret" name="secret" class="posttext" />
        <input type="submit" value="be evil" class="postbutton" />
      </div>
${thread_single}
    <hr style="clear: both;">
    </form>
    <div class="boards">[${boardlist}]</div>
    <hr />
  </body>
</html>
