<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>straight into deep space</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="stylesheet" href="/user.css" type="text/css">
  </head>
  <body class="mod">
    <center>
    {0}
      <br />
      <br />
      <img src="data:image/png;base64,{1}" />
      <br />
      <form ACTION="/incoming/verify" METHOD="POST" enctype="multipart/form-data">
      <input type="hidden" name="hash" value="{2}" />
      <input type="hidden" name="expires" value="{3}" />
	<input type="hidden" name="frontend" value="{4}" />
        <input type="hidden" name="board" value="{5}" />
	<input type="hidden" name="reply" value="{6}" />
        <input type="hidden" name="target" value="{7}" />
        <input type="hidden" name="name" value="{8}" />
        <input type="hidden" name="email" value="{9}" />
        <input type="hidden" name="subject" value="{10}" />
        <input type="hidden" name="comment" value="{11}" />
        <input type="hidden" name="file_name" value="{12}" />
        <input type="hidden" name="file_ct" value="{13}" />
	<input type="hidden" name="file_b64" value="{14}" />
        <input type="text" class="posttext" style="width: 150px;" name="solution" />
        <br />
        <input type="submit" class="postbutton" value="solve dat shit" />
      </form>
    </center>
  </body>
</html>
