<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <title>%%title%% - decentralized pastebin</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="styles.css" type="text/css">
  </head>
  <body>
    <center>
      <h3>%%title%% - decentralized pastebin</h3>
      <div class="postform">
        <form method="POST" action="/incoming" enctype="multipart/form-data">
          <input type="hidden" name="frontend" value="paste" />
          <input type="hidden" name="board" value="ano.paste" />
          <input type="hidden" name="reply" value="%%reply%%" />
          <input type="hidden" name="target" value="%%target%%" />
          <table cellspacing="1" cellpadding="0" width="100%">
            <tr>
              <th>Name</th>
              <td><input type="text" name="name" class="posttext" /></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>E-Mail</th>
              <td><input type="text" name="email" class="posttext" /></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>Title</th>
              <td><input type="text" name="subject" class="posttext" style="width: 100%;" /></td>
              <td width="1px" style="white-space: nowrap;">&nbsp;<input type="submit" value="paste it" class="postbutton1" /></td>
            </tr>
          </table>
          <div class="pasteit">
            <textarea name="comment" class="postarea"></textarea>
          </div>
        </form>
      </div>
      <br />
      <div class="paste_recent">
      <table width="100%" border="0" class="paste_recent_table">
        <tr>
          <th><a name="recent"></a>subject</th>
          <th>sender</th>
          <th>date</th>
        </tr>
        %%pasterows%%
      </table>
      </div>
    </center>
  </body>
</html>
