<html>
  <head>
    <title>foobar</title>
    <link type="text/css" href="/styles.css" rel="stylesheet">
    <style type="text/css">
      .mod_accepted tr:nth-child(2n+2) {
          background: none repeat scroll 0 0 #151515;
      }
      .mod_ignored tr:nth-child(2n+2) {
          background: none repeat scroll 0 0 #151515;
      }
      td, th {
        padding: 0px;
      }
      .key {
        text-align: right;
      }
      .date {
        padding-right: 10px;
      }
      .action {
        padding-left: 10px;
        text-align: center;
      }
      .postid {
        padding-left: 10px;
      }
      .reason {
        text-align: right;
        padding-left: 10px;
      }
      .actions {
        padding-left: 10px;
      }
      .data_center {
        text-align: center;
        padding-left: 10px;
      }
      div {
        border: 1px dotted #AFAFAF;
      }
    </style>
  </head>
  <body class="mod">
    %%navigation%%
    <div>
      <b>known public keys</b>
      <table border="0px">
        <tr>
          <th>&nbsp;</th>
          <th class="data_center">local_alias</th>
          <th class="data_center">count</th>
  %%flag_names%%
          <th>&nbsp;</th>
        </tr>
        %%mod_whitelist%%
      </table>
    </div>
    <br />
    <div>
      <b>key stats</b>
      <table border="0px">
        <tr>
          <th>&nbsp;</th>
          <th class="data_center" colspan="2">accepted_by_trusted_keys</th>
          <th>&nbsp;</th>
        </tr>
        %%mod_unknown%%
      </table>
    </div>
    <br />
    <div>
      <b>moderation accepted log</b>
      <table class="mod_accepted">
        <tr>
          <th>&nbsp;</th>
          <!-- <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> -->
          <th>&nbsp;</th>
          <th>action</th>
          <th>target</th>
          <th>reason</th>
          <th>&nbsp;</th>
        </tr>
        %%mod_accepted%%
      </table>
    </div>
    <br />
    <div>
      <b>moderation ignored log</b>
      <table class="mod_ignored">
        <tr>
          <th>&nbsp;</th>
          <!--<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>-->
          <th>&nbsp;</th>
          <th class="data">action</th>
          <th>target</th>
          <th>reason</th>
          <th>&nbsp;</th>
        </tr>
        %%mod_ignored%%
      </table>
    </div>
  </body>
</html>