<tr>
        <td class="key"><a name="%%key%%"></a>%%key%%</td>
        <td class="reason">%%nick%%</th>
        <td class="data_center">%%count%%</td>
%%flagset%%
        <td class="actions"><a href="modify?%%key%%">modify</a></td>
      </tr>