<tr>
        <td class="date">%%date%%</td>
        <td class="key">%%key_or_nick%%</td>
        <td class="action">%%action%%</td>
        <td class="postid">%%postid%%</td>
        <td class="reason">%%reason%%</td>
        <td class="actions"><a href="modify?%%key%%">add key</a>&nbsp;<a href="notimplementedyet">accept once</a></td>
        <td class="postid">%%comment%%</td>
      </tr>
