<tr>
        <td class="date">%%date%%</td>
        <td class="key"><a href="modify?%%key%%">%%key_or_nick%%</a></td>
        <td class="action">%%action%%</td>
        <td class="postid">%%postid%%</td>
        <td class="reason">%%reason%%</td>
        <td class="actions">%%restore_link%%%%delete_link%%</td>
        <td class="postid">%%comment%%</td>
      </tr>
