<tr>
        <td class="key"><a name="%%key%%"></a>%%key_or_nick%%</td>
        <td class="reason">%%accepted_by_trusted_count%%/%%accepted_by_trusted_total%%</td>
        <td class="reason">%%accepted_by_trusted_percentage%%%</td>
        <td class="actions"><a href="modify?%%key%%">add key</a></td>
      </tr>