Content-Type: message/rfc822; charset=UTF-8
Content-Transfer-Encoding: 8bit
From: {0}
Date: {1}
Newsgroups: {2}
Subject: {3}
Message-ID: {4}
Path: {5}
X-pubkey-ed25519: {6}
X-signature-ed25519-sha512: {7}

{8}