<tr>
        <td class="reason">%%posts%%</th>
        <td><a name="%%board%%"></a>%%board%%</td>
%%flagset%%
        <td class="actions"><a href="settings?id=%%board_id%%">modify</a></td>
      </tr>
