<html>
  <head>
    <title>Settings</title>
    <link type="text/css" href="/styles.css" rel="stylesheet">
    <style type="text/css">
      .keys_known tr:nth-child(2n+2) {
          background: none repeat scroll 0 0 #151515;
      }
      .keys_all tr:nth-child(2n+2) {
          background: none repeat scroll 0 0 #151515;
      }
      td, th {
        padding: 0px;
      }
      .key {
        text-align: right;
      }
      .date {
        padding-right: 10px;
      }
      .action {
        padding-left: 10px;
        text-align: center;
      }
      .postid {
        padding-left: 10px;
      }
      .reason {
        text-align: right;
        padding-left: 10px;
      }
      .actions {
        padding-left: 10px;
      }
      .data_center {
        text-align: center;
        padding-left: 10px;
      }
      .float {
         float: left;
         margin-right: 10px;
         margin-bottom: 10px;
      }
    </style>
  </head>
  <body class="mod">
    %%navigation%%
    <div class="float">
      <table border="0px" class="datatable">
        <tr>
          <th class="data_center">posts</th>
          <th>Board</th>
%%flag_names%%
          <th class="actions"><a href="settings?new">create</a></th>
        </tr>
%%board_list%%
      </table>
    </div>
    <div class="float">
%%post_form%%
    </div>
  </body>
</html>
