      <tr>
        <td style="vertical-align: middle;"><b><a href="${board_link}" style="text-decoration: none">${board_name}</a></b></td>
        <td style="white-space: nowrap; text-align: right; vertical-align: middle;">${thread_count} threads</td>
        <td style="white-space: nowrap; text-align: right; vertical-align: middle;">${post_count} posts</td>
        <td style="white-space: nowrap;">Last post ${last_post_date} UTC in<br /><a href="${thread_link}#${last_post_anchor}">${last_post_subject}</a> by ${last_post_sender}</td>
      </tr>
