      <tr>
        <td rowspan="2" class="user_data"><b>${sender}</b><br /><span class="signature">${trip}</span><div class="avatar"></div></td>
        <th style="text-align: left; white-space: normal;"><b>${subject}</b><div style="float: right;">${date} UTC <a class="perm" name="${anchor}" href="#${anchor}">#</a></div></th>
      </tr>
      <tr>
        <td><br /><div class="message_span">${message}</div><br /><div class="img">${imagelink}</div></td>
      </tr>
