      <tr>
        <td class="subject"><b><a href="${thread_link}" style="text-decoration: none">${thread_subject}</a></b></td>
        <td class="starter">${thread_starter}</td>
        <td class="replies">${thread_replies}</td>
        <td class="lastpost">Last post ${last_post_date} UTC<br /><a href="${thread_link}#${last_post_anchor}">by ${last_post_sender}</a></td>
      </tr>
